<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SimpleMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SimpleMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings/>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
	<userSettings>
		<SimpleMap.Properties.Settings>
   <setting name="MapCacheLocalPath" serializeAs="String">
    <value>SimpleMap\</value>
   </setting>
   <setting name="StartZoomLevel" serializeAs="String">
    <value>12</value>
   </setting>
   <setting name="MaxZoomLevel" serializeAs="String">
    <value>23</value>
   </setting>
   <setting name="MinZoomLevel" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LeftMapBound" serializeAs="String">
    <value>115.9217</value>
   </setting>
   <setting name="TopMapBound" serializeAs="String">
    <value>-32.05323</value>
   </setting>
   <setting name="RightMapBound" serializeAs="String">
    <value>115.93505</value>
   </setting>
   <setting name="BottomMapBound" serializeAs="String">
    <value>-32.06163</value>
   </setting>
   <setting name="Setting" serializeAs="String">
    <value>E115.88267 N-31.95194</value>
   </setting>
  </SimpleMap.Properties.Settings>
	</userSettings>
 <applicationSettings>
  <SimpleMap.Properties.Settings>
   <setting name="AppVersion" serializeAs="String">
    <value>2.0.0</value>
   </setting>
   <setting name="TileUrl" serializeAs="String">
    <value>http://mt1.google.com/vt/lyrs=m@146&amp;hl=en&amp;x={0}&amp;y={1}&amp;z={2}</value>
   </setting>
  </SimpleMap.Properties.Settings>
 </applicationSettings>
</configuration>
